* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--Verydarkblue : hsl(233, 47%, 7%); /* (main background) */
--Darkdesaturated : hsl(244, 38%, 16%); /* blue (card background) */
--Softviolet : hsl(277, 64%, 61%); /* (accent) */

--White : hsl(0, 0%, 100%); /* (main heading, stats) */
--Slightly-first: hsla(0, 0%, 100%, 0.75);  /* (main paragraph) */
--Slightly-second : hsla(0, 0%, 100%, 0.6); /* (stat headings) */
}
body {
    font-size: 15px;
    background-color: var(--Verydarkblue);
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}
/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

.container {

    width: 300px;
    height: 100%;
    margin: 4rem  auto auto;
    background-color: var(--Darkdesaturated);
    position: relative;

}

.container .hero {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.section-one {
    position: relative;
}
section {
    width: 280px;
    margin: auto;
    padding: 20px;
}
section span {
    color: var(--Softviolet);
}
h1 {
    padding-bottom: 1rem;
}
p {
    font-weight: 400;
    padding-bottom: 2rem;
    color: var(--Slightly-second);
}
.numbers > p {
    margin-bottom: 2rem;
}
.cover::before {
    content: '';
    position: absolute;
    background-color: hsla(278, 98%, 21%, 0.596);
    left: 0;
    top: 0;
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;

}


/* For Desktop Devices */
 @media (min-width: 768px) {
    .container {
        width: 750px;
        height: 20rem;
        display: flex;
        margin-top: 10rem;
        flex-direction: row-reverse;
        text-align: left;

        }
    .container .hero {
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
    }
    .title {
        padding: 1rem 0 0 2rem;
    }
    .pargraph {
        padding: 1rem 0 0 2rem;
    }
    section {
        width: 100%;
    }
   
    .numbers {
        display: flex;
        justify-content: space-evenly;
        margin-top: 4rem;
    }
    .cover::before {
        content: '';
        position: absolute;
        background-color: hsla(278, 98%, 21%, 0.596);
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 0 10px 10px 0;
        height: 100%;
    }
    }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }